.about {
    background-color: var(--container-color);
    padding: 2rem 1.5rem;
    border-radius: 2rem;
}

.about__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
    margin-bottom: 1rem;
}

.about__social {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-block: 2rem;
}

.about__link {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--white-color);
    color: var(--black-color);
    font-size: 1.5rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: background-color .4s, color .4s;
}

.about__link:hover {
    background-color: var(--first-color);
    color: var(--white-color);
}

.about__image {
    background: var(--conic-gradient);
    height: 180px;
    border-radius: 2rem;
    display: grid;
    overflow: hidden;
}

.about__img {
    width: 250px;
    justify-selg: center;
    transform: translateY(-2.5rem);
}

.about__note {
    font-size: var(--small-font-size);
    margin-block: 1rem 2rem;
}

.about .button {
    width: 100%;
}