/* ==> For Large devices <=== */
@media screen and (min-width: 1024px) {

    .container {
        margin-inline: auto;
    }

    .section{
        padding-block: 3rem 4rem;
    }

    .section__title {
        font-size: var(--h1-font-size);
        margin-bottom: 4rem;
    }

    .home__container {
        grid-template-columns: 280px 560px 280px;
        align-items: stretch;
        /* justify-content: center; */
    }

    .perfil {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        padding: 2rem;
    }

    .perfil__img {
        width: 450px;
    }

    .perfil__data {
        width: 370px;
        padding: 1.5rem;
        border-radius: 2rem;
    }

    .info {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .info__name{
        font-size: var(--h2-font-size);
    }

    .about {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
        align-content: center;
    }

    .about__image {
        height: 210px;
    }

    .about__img {
        transform: translateY(-1rem);
    }

    .skills {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .skills__title {
        font-size: var(--h3-font-size);
    }

    .projects__container {
        grid-template-columns: repeat(3, 368px);
        gap: 2rem;
    }

    .projects__card {
        padding-bottom: 2rem;
    }

    .services__container {
        grid-template-columns: repeat(3, 368px);
        gap: 2rem;
    }

    .services__card {
        padding-block: 6rem 5rem;
    }

    .services__icon i {
        font-size: 3.5rem;
    }

    .services__circle {
        width: 4rem;
        height: 4rem;
        right: -1.5rem;
        top: -1.5rem;
    }

    .experience__container {
        row-gap: 4rem;
    }

    .experience__card {
        grid-template-columns: 350px 368px;
        column-gap: 8rem;
    }

    .experience__company {
        font-size: var(--h1-font-sie);
    }

    .experience__data {
        padding: 2rem;
        border-radius: 2rem;
    }

    .contact__container {
        grid-template-columns: 620px;
        justify-content: center;
    }

    .contact__group {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact__area {
        height: 15rem;
    }

    .contact__button {
        width: max-content;
        justify-self: center;
    }

    .footer {
        padding-top: 3rem;
    }

    .footer__links {
        column-gap: 3rem;
    }

    .footer__copy {
        margin-top: 7rem;
    }

}

@media screen and (min-width: 1500px) {
    .nav {
        width: max-content;
        height: max-content;
        padding: 2rem 1rem;
        left: initial;
        right: 3rem;
        top: 0;
        bottom: 0;
        margin-block: auto;
    }

    .nav__list {
        flex-direction: column;
        row-gap: 1.5rem;
    }

    .footer {
        padding-block: 3rem;
    }

    .scrollup {
        right: 4rem;
    }

}